---
group: pixelArt
state:
    default: pixelArt
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${process.env.INCLUDE_PATH}/components/_head`, {
        title: 'pixel art'
    }); %>
    <link rel="stylesheet"
          href="<%= process.env.BASE_PATH %>/styles/pixelArt/pixelArt<%= process.env.MINIFY %>.css<%= `?${setTimestamp()}`; %>">
</head>
<body>
    <script src="<%= process.env.BASE_PATH; %>/scripts/pixelArt/pixelArt<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            type="module"
            defer></script>
</body>
</html>