<%
var pageFm = pageFm || {};
var meta = pageFm.meta || {};
var title = title || '';
var metaTitle = meta.title || title || '';
var metaDesc = meta.desc || '';
var img = img || null;
%>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"
      content="IE=edge"/>
<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">
<meta name="format-detection"
      content="telephone=no, address=no, email=no"/>
<% if (!isDev) { %>
    <meta http-equiv="Content-Security-Policy"
          content="script-src 'self';">
<% } %>
<meta name="title"
      content="<%= metaTitle %>"/>
<meta name="description"
      content="<%= metaDesc %>"/>
<meta property="og:url"
      content="https://mjkang0987.github.io"/>
<meta property="og:title"
      content="<%= metaTitle %>"/>
<meta property="og:type"
      content="website"/>
<meta property="og:description"
      content="<%= metaDesc %>"/>
<% if (img) { %>
    <meta property="og:image"
          content=<%= img %>""/>
<% } %>
<meta property="og:site_name"
      content="<%= metaTitle %>"/>
<meta property="og:locale"
      content="ko_KR"/>
<link rel="apple-touch-icon"
      sizes="180x180"
      href="<%= process.env.BASE_PATH %>/images/favicon/apple-touch-icon.png">
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= process.env.BASE_PATH %>/images/favicon/favicon-32x32.png">
<link rel="icon"
      type="image/png"
      sizes="192x192"
      href="<%= process.env.BASE_PATH %>/images/favicon/android-chrome-192x192.png">
<link rel="icon"
      type="image/png"
      sizes="512x512"
      href="<%= process.env.BASE_PATH %>/images/favicon/android-chrome-512x512.png">
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= process.env.BASE_PATH %>/images/favicon/favicon-16x16.png">
<link href="<%= process.env.BASE_PATH %>/images/favicon/favicon.ico"
      rel="shortcut icon">
<title><%= title %></title>